@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #171717;
    color: white;
}
/* scroll */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #3a3a3a;
}
::-webkit-scrollbar-thumb {
    background: #008cff;
}
/* menu */
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: #171717;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px black;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}

.menu-list li .menu-item{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    margin-left: 25px;
    position: relative;
}

.menu-list li .menu-item:after {
	content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
    color: #008cff
}

.menu-list li .menu-item:hover{
    color: #008cff
}

.menu-list li .menu-item:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.active{
    color: #008cff !important;
    border-bottom: #008cff solid 1px;
    text-shadow: 0px 0px 10px #008cff;
}
/* banner - tlo */
.banner{
    background: url("../IMG/tlo.jpg");
    background-position: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 38px;
    
}
#napis-banner{
    font-size: 20px;
    line-height: 40px;
}
#napis-banner span{
    color: #008cff;
    font-weight: 600;
}
.banner img{
    padding-top: 20vh;
    width: 40%;
}
.btn_banner{
    margin-left: 4px;
    margin-right: 4px;
    border: solid #008cff 3px;
    color: #008cff;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 0px 0px black;
}
.btn_banner:hover{
    border: solid #008cff 3px;
    color: white;
    background-color: #008cff;
    box-shadow: 0px 0px 20px #008cff;
    transition: all ease-in-out 0.5s;
}
.br_banner{
    display: none;
}
/* tekst */
.about{
    padding: 25px 0;
}
.about .title{
    font-size: 38px;
    font-weight: 700;
}
.about p{
    padding-top: 20px;
    text-align: justify;
}
.color{
    color: #008cff;
}
a.color:hover{
    text-shadow: 0px 0px 10px #008cff;
}
iframe{
    width: 100%;
    height: 50vh;
}
/*burger*/
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 40px;
    top: 35px;
}

/* stopka */
footer{
    text-align: center;
    background-color: #008cff;
    color: #1b1b1b;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
footer a{
    color: #1b1b1b;
    text-decoration: none;
}
#ft_od{
    font-size: 18px;
    font-weight: 700;
}
.author{
    text-decoration: underline;
}
footer i{
    font-size: 20px;
    padding-top: 10px;
}

.container{
    width: 100%;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.column img{
    width: 50%;
}

.columns{
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
}

.columns video{
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer a:hover{
    color: white;
}

.register{
    background: #008cff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin-left: 20px;
    border: none;
    transition: all 0.3s ease;
}

.register:hover{
    color: #008cff;
    background:white;
}

.register a{
    text-decoration: none;
    color: white;
}

.register a:hover{
    color: #008cff;
}

/* responsywność */
@media (max-width: 1230px) {
    .content{
        padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content{
        padding: 0 40px;
    }
}
/* formatowanie menu */

@media (max-width: 1000px) {
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;

        text-align: center;
        background: #171717;
        transition: all 0.3s ease;
    }
    .register{
        font-size: 15px;
        margin-left: 0px;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li .menu-item{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li .menu-item{
        margin-left: 0px;
    }
    .banner img{
        width: 75%;
    }
    .banner{
        background-size: cover;
    }
    .column, .columns{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .banner img{
        width: 100%;
    }
}
@media (max-width: 380px) {
    .navbar .logo a{
        font-size: 27px;
    }
}

@media (max-width: 300px) {
    .br_banner{
        display: block;
    }
}

